.button {
    padding: 12px 24px;
    border: none;
    background-color: black; 
    color: white;
    border-radius: 2px;
    cursor: pointer;
    min-width: 130px;
    display: flex;
    justify-content: center;
}
